@import "../../scss/vars";
.cover {
	background: $backgroundSecondary;
	border-bottom: 1px solid $strokesSecondary;
	position: relative;
	height: 200px;
	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center;
	}
	&__button {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:after {
			content: url("/assets/picture.svg");
			line-height: 0px;
			vertical-align: middle;
			padding-left: 10px;
		}
		&--upload::before {
			content: url("/assets/upload.svg");
			line-height: 0px;
			vertical-align: middle;
			padding-right: 10px;
		}
		&--del::before {
			content: url("/assets/trash.svg");
			line-height: 0px;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
	&:hover .cover__button {
		display: inline-block;
	}
}
