%button-default-template {
	border-radius: 5px;
	font-weight: 500;
	padding: 7px 22px;
	transition: 0.5s;
	line-height: 1.6;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	&:hover:not(:disabled) {
		box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 50%);
	}
}
.button-default {
	@extend %button-default-template;
	background: $backgroundPrimary;
	border: 1px solid #d5d5d5;
	color: black;
}

.button-default-revers {
	@extend %button-default-template;
	background: $black;
	color: $backgroundPrimary;
	border: 1px solid transparent;
	&:disabled {
		background: #d5d5d5;
		cursor: no-drop;
	}
}

.title {
	font-size: 30px;
	font-weight: 500;
	color: $black;
}

%button-icon-template {
	vertical-align: middle;
	padding-right: 10px;
	line-height: 0px;
}
.button-icon-entry {
	&::before {
		content: url("../../img/entry.svg");
		@extend %button-icon-template;
	}
}
.button-icon-edit {
	&::before {
		content: url("../../img/pen-solid.svg");
		@extend %button-icon-template;
	}
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.modal {
	border: solid 1px $strokesSecondary;
	background: $backgroundPrimary;
	border-radius: 5px;
	padding: 30px;
}

.input-prefix {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	&::before {
		content: attr(data-url);
		background: $backgroundSecondary;
		color: $gray;
		padding-left: 20px;
		padding-right: 20px;
		height: 50px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-left: solid 1px $gray;
		border-top: solid 1px $gray;
		border-bottom: solid 1px $gray;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}
}
.hidden {
	display: none;
}
