@use "sass:math";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}
::selection {
  background-color: $accent;
  color: #000000;
}
* {
  transition: 0.5s;
  box-sizing: border-box;
  // border: solid 1px tomato;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
html {
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
}
body {
  min-width: 320px;
  font-family: "Inter";
  // overflow-x: hidden;
  height: 100%;
}
// Custom Sass / Remove before use

.container {
  max-width: 1280px;
  padding: 0 math.div($gutter, 2) + px;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 550px) {
    padding: 0 math.div($gutter * 2, 2) + px;
  }
}

%user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  background-color: #f3f3f3;
  object-fit: cover;
  font-weight: 400;
}
.user-avatar-small {
  @extend %user-avatar;
  width: 50px;
  height: 50px;
  font-size: 18px;
}
.user-avatar-big {
  @extend %user-avatar;
  width: 100px;
  height: 100px;
  font-size: 36px;
}

.user-avatar-hover {
  position: relative;

  &:hover::before {
    visibility: none;
    content: "";
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  &:hover::after {
    content: "";
    background: url("../../img/camera.svg") no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button-default {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-weight: 500;
  color: black;
  padding: 7px 22px;
  transition: 0.5s;
  line-height: 1.6;
  white-space: nowrap;
  &:hover {
    box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 50%);
  }
}

%button-icon-template {
  vertical-align: middle;
  padding-right: 10px;
  line-height: 0px;
}
.button-icon-entry {
  &::before {
    content: url("../../img/entry.svg");
    @extend %button-icon-template;
  }
}
.button-icon-edit {
  &::before {
    content: url("../../img/pen-solid.svg");
    @extend %button-icon-template;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 80px;
  width: 100%;
  padding: 0 20px;
  border-bottom: solid 1px #e6e6e6;
  &__info-company {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__title {
    font-weight: 400;
    width: 225px;
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  &__guest {
    width: 114px;
    height: 40px;
    background: none;
    font-weight: 500;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: $accent;
    }
  }
  &__user {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__user-avatar {
    position: relative;
    &:hover .header__user-avatar-hover-upload {
      display: block;
    }
  }
}

main {
  flex: 1 1 auto;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 72px;
  width: 100%;
  border-top: solid 1px #e6e6e6;
  &__content {
    color: #838383;
  }
  &__link-login {
    color: black;
    text-decoration: none;
  }
}

.form-entry {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 550px) {
    background-color: initial;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    @media screen and (max-width: 550px) {
      width: auto;
      padding: 0px;
      border: none;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__input {
    width: 100%;
    height: 50px;
    border: solid 1px #838383;
    border-radius: 5px;
    padding: 12px 20px 12px 55px;
    position: relative;
    background-position: 25px 50%;
    background-repeat: no-repeat;
    background-origin: border-box;
    &::placeholder {
      color: #838383;
    }
    &::before {
      position: absolute;
      top: 15px;
      left: 25px;
    }
    &-user {
      background-image: url("../../img/user.svg");
    }
    &-email {
      background-image: url("../../img/email.svg");
    }
    &-password {
      background-image: url("../../img/lock.svg");
      padding-right: 55px;
      @media screen and (max-width: 550px) {
        padding-right: 70px;
      }
    }
  }
  &__input-password-wrapper {
    position: relative;
  }
  &__input-password-eye {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:hover svg path {
      fill: black;
    }
    & svg path {
      fill: $gray;
    }
  }
  &__submit {
    height: 50px;
    margin-top: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
  }
  &__submit--disable {
    background: #d5d5d5;
  }
}

.cover {
  background: #f3f3f3;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  &__button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:after {
      content: url("../../img/picture.svg");
      line-height: 0px;
      vertical-align: middle;
      padding-left: 10px;
    }
    &--upload::before {
      content: url("../../img/upload.svg");
      line-height: 0px;
      vertical-align: middle;
      padding-right: 10px;
    }
    &--del::before {
      content: url("../../img/trash.svg");
      line-height: 0px;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
  &:hover .cover__button {
    display: inline-block;
  }
}
.account {
  &__cover {
    height: 200px;
  }
  &__body {
    position: relative;
    padding-top: 85px;
    padding-bottom: 100px;
  }
  &__content {
    padding-left: 20vw;
    @media screen and (max-width: 800px) {
      padding: 0 15px;
    }
  }
  &__content-head {
    display: flex;
    gap: 15px;
    max-width: 784px;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  &__user-info {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__edit-wrapper {
    flex: 0 0 auto;
  }
  &__avatar {
    position: absolute;
    top: 0;
    transform: translate(0px, -50%);
  }
  &__name {
    font-size: 30px;
    font-weight: 500;
    color: #000;
  }
  &__email {
    color: $gray;
  }
  &__content-body {
    padding-top: 30px;
    max-width: 600px;
  }
  &__text {
    padding-bottom: 60px;
  }
}
